.headline-container-about{
    background-image: url('../components/assets/bg_about.jpg') ;
    background-position: center;
    background-size:cover;
    height: 220px;
    border-radius: 25px;
    overflow: hidden;
    margin-bottom: 40px;
}

@media screen and (max-width:905px) {
    .headline-container-about{
        margin-bottom: 10px;
        border-radius: 10px;
    }
}