.headline-container-about{
    background-image: url('../components/assets/bg_about.jpg') ;
    background-position: center;
    background-size:cover;
    height: 220px;
    border-radius: 25px;
    overflow: hidden;
    margin-bottom: 40px;
}