.accordion-title {
    margin: 10px 0;
    padding: 10px 30px;
    background-color: #FF6060;
    color: white;
    display: flex;
    justify-content:space-between ;
    align-items: center;
    height: 47px;
    border-radius:5px;
    font-size: 18px;
}

.accordion-container{
    background-color:#F6F6F6;
    margin-bottom: 10px;
    font-size:24px;
    margin: 0 auto
}
.accordion-text-opened{
    padding: 15px;
    font-weight: 400;
    line-height: 142.6%;
    font-size: 18px;
}

.crochet{
    user-select:none;
}

.crochet-turned{
    transform: rotate(180deg);
}

@media screen and (max-width:905px){
    .accordion-container{
        max-width: 100%;
    }
    .accordion-title{
        font-size: 13px;
        height: inherit;
    }
    .crochet{
        width: 16px;
    }
    .accordion-text-opened{
        font-size: 12px;
        line-height: 142.6%;
        padding:0px 20px 3px 20px
    }
}