.header{
    display: flex;
    width: 90%;
    margin: 0 auto;
    padding:40px;
    justify-content: space-between;
    align-items: center;
}

.navbar-link{
    padding: 0 0 0 20px;
}

.header-logo{
    height: 68px;
}

.active{
    text-decoration: underline;
}



@media screen and (max-width:905px) {
    .header{
        padding:20px 0;
    }
    .header-logo{
        width: 145px;
    }
    .navbar-link{
        font-size: 12px;
        text-transform:uppercase
    }
}